body {
  background: #f4f482;
  font-family: Calibri, sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 48px;
  text-align: center;
}
h2 {
  margin: 0 0 10px;
  font-size: 28px;
}
select {
  background-color: rgb(248, 247, 233);
  border: 2px solid #f4afab;
  border-radius: 6px;
  display: block;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}
.container {
  background: rgb(247, 245, 224);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 500px;
  margin: 60px auto;
  padding: 30px;
}
.city {
  border-bottom: 1px dashed #f4afab;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 40px;
  font-weight: bold;
}
.time small {
  line-height: 48px;
  vertical-align: middle;
}
footer {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  text-align: center;
}
